*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}
body {
    width: 100%;
    padding-top: 400px;
    background-color: white;
    height: 1100px;
}
.hre {
height: 100%;
width: 100%;
background-color: white;
display: flex;
align-items: center;
flex-direction: column;
gap: 20px;
justify-content: center;
}
.nkqekj {
height: 400px;
width: 70%;
margin-bottom: 20px;
padding: 20px;
padding-bottom: 50px;
background-color: white;
display: flex;
align-items: center;
gap: 20px;
justify-content: center;
box-shadow: 0.5px 0.5px 5px 0.5px rgb(232, 223, 241);
}

li{
    list-style-type: none;

}

a {
    text-decoration: none;
    color: black;
}
.fixe {
    width: 100%;
    height: 70px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: white;
}

.lofo {
    width: 200px;
    padding-left: 20px;
    height: 100%;

}
.lofo1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding-left: 20px;
    height: 100%;
    

}
.lofo1 nav ul li{
    list-style-type: none;

}
.lofo1 nav ul a {
    text-decoration: none;
}
.lofo1 nav ul{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    color: white;

}

.retyu1 {
  
    /* padding-left: 50px; */
    width: 50%;
    height: 100%;
    background-color: white;
}
.retyu1 h1{
    font-size: 4rem;
}
.retyu2 {
    
    width: 50%;
    height: 100%;
    background-color: white;
}
.retyu2 {
    
    width: 50%;
    height: 100%;
    background-color: white;
}
