






    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="static/CSS/page.css">
    </head>
    <body>
        <div class="fixe">
            <div class="lofo">
                <strong><p style="color: rgba(162, 117, 204, 0.555);"><span style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 3rem;color: white">B</span>lay Library</p></strong>
    
            </div>
            <div class="lofo1">
                <nav>
                    <ul>
                        <li>
                            <a href="/">Acceuil</a>
                        </li>
                        <!-- <li>
                            <a href="">Nos produits</a>
                        </li> -->
                        <li>
                            <a href="/">Qui sommes nous ?</a>
                        </li>
                        <li>
                            <a style="padding: 15px 20px;background-color: white;color: orange;border-radius: 10px;" href="/sprome">Compte</a>
                            
                        </li>
                    </ul>
                </nav>
    
            </div>
        </div>
        <div class="hre">
            <a style="padding: 25px 25px;background-color: white;color: rgb(245, 167, 0);border-radius: 5px;border: 1px solid rgb(245, 167, 0);" href="/add_data">INSCRIPTION</a>
            <a style="padding: 25px 25px;background-color: white;color: rgb(245, 167, 0);border-radius: 5px;border: 1px solid rgb(245, 167, 0)" href="/pre">CONNEXION</a>
    
        </div>
    </body>
    </html>